# IMAM ESTUDIO | Local Environment Configuration
NEXT_PUBLIC_SUPABASE_URL=https://yqaslfozryelumtlkoxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
VERCEL_PROJECT_ID=prj_69qn7l2Aeu8K1pqzEnf66frpkpUW
